<!DOCTYPE html>
<html>
    <head>
        <title>The d3 test</title>
        <style>
            .chart {
                shape-rendering: crispEdges;
            }

            .main text {
                font: 12px sans-serif;  
            }

            .axis line, .axis path {
                stroke: black;
            }
        </style>
        <script type="text/javascript" src="http://mbostock.github.com/d3/d3.v2.js"></script>
    </head>
    <body>
        <div class='content'>
            <!-- /the chart goes here -->
        </div>
        <script type="text/javascript" src="scatterchart.js"></script>
    </body>
</html>
