<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <ul>
        <li><a href="graphics/msg-received/">Received</a></li>
        <li><a href="graphics/msg-sent/">Sent</a></li>
        <li><a href="graphics/msg-by-size/">By Size</a></li>
        <li><a href="graphics/msg-thread-length/">By Thread Length</a></li>
        <li><a href="graphics/msg-by-year/">By Year</a></li>
        <li><a href="graphics/msg-by-month/">By Month (2001)</a></li>
        <li><a href="graphics/msg-by-day-week/">By Day of the Week</a></li>
        <li><a href="graphics/msg-by-hour-day/">By Hour of the Day</a></li>
    </ul>
</body>
</html>
